@import "_variables"
@import "_colors/" + $colors

.dg-gallery
  column-count: auto
  column-width: 250px
  column-gap: 1rem
  width: 100%

.dg-item
  position: relative
  display: inline-block
  width: 100%
  margin-bottom: 1rem // gap between elements

  border-radius: 0.5rem
  overflow: hidden
  
  background-color: $color-background-code
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
  transform: none
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease

  &:hover
    background-color: lighten($color-background-code, 5%)
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2)
    transform: translateY(-4px)

    .dg-newtab-icon
      color: $color-link

a.dg-open
  display: flex
  flex-direction: column
  padding: 1.5rem

  /* override default hyperlink styling */
  background: none !important
  text-decoration: none
  color: inherit

.dg-thumb
  width: 100%
  padding-bottom: 0.5rem
  overflow: hidden

  border-radius: 0.5rem

  video.dg-media
    display: block
    width: 100%
    height: auto

.dg-title
  font-weight: 600
  font-size: 1rem
  text-align: left

.dg-desc
  font-weight: 400
  font-size: 0.75rem
  text-align: left

.dg-badge
  display: inline-block
  margin: 0.5rem auto
  font-size: 0.6em
  color: $color-accent-1
  text-align: center

.dg-newtab-icon
  position: absolute
  bottom: 1rem
  right: 1rem
  display: inline-block

  transition: color 0.2s ease
